__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.hypothesis/
.pyre/
.pytype/
.idea/
.vscode/
.venv/
venv/
env/
ENV/
.env
.envrc
.ipynb_checkpoints/

